<!DOCTYPE html>
<html>
<head>
    <title>Number of Debian packages over time</title>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script language="javascript" type="text/javascript">

        function createChart(divId, title, series){
            $(divId).highcharts({
                title: { text: title },
                chart: {
                    type: "line",
                    zoomType: "x"
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                xAxis: {
                    type: "datetime",
                    plotLines: [{
                        color: 'grey',
                        label: { text: 'sarge' },
                        value: Date.UTC(2005, 6, 6),
                        width: 1,
                    },{
                        color: 'grey',
                        label: { text: 'etch' },
                        value: Date.UTC(2007, 4, 8),
                        width: 1,
                    },{
                        color: 'grey',
                        label: { text: 'lenny' },
                        value: Date.UTC(2009, 2, 15),
                        width: 1,
                    },{
                        color: 'grey',
                        label: { text: 'squeeze' },
                        value: Date.UTC(2011, 2, 6),
                        width: 1,
                    },{
                        color: 'grey',
                        label: { text: 'wheezy' },
                        value: Date.UTC(2013, 5, 4),
                        width: 1,
                    },],
                },
                yAxis: {
                    min: 0,
                },
                series: series
            });
        }

        $(function () {
            $.getJSON('/json', function(data) {

                var package_chart_data = [];
                var maintainer_chart_data = [];
                var size_chart_data = [];
                var avg_size_chart_data = [];
                var pack_ratio_chart_data = [];
                $.each(data.metrics, function(dist_name, arches){
                    $.each(arches, function(arch_name, metrics){

                        package_chart_data.push({
                            name: dist_name + ' ' + arch_name,
                            data: metrics.pkg,
                        });

                        maintainer_chart_data.push({
                            name: dist_name + ' ' + arch_name,
                            data: metrics.maintainer,
                        });

                        size_chart_data.push({
                            name: dist_name + ' ' + arch_name + ' total packed size',
                            data: metrics.total_packed_size
                        });
                        size_chart_data.push({
                            name: dist_name + ' ' + arch_name + ' total installed size',
                            data: metrics.total_installed_size
                        });

                        avg_size_chart_data.push({
                            name: dist_name + ' ' + arch_name + ' average packed size',
                            data: metrics.avg_packed_size
                        });
                        avg_size_chart_data.push({
                            name: dist_name + ' ' + arch_name + ' average installed size',
                            data: metrics.avg_installed_size
                        });

                        pack_ratio_chart_data.push({
                            name: dist_name + ' ' + arch_name + ' avg pack ratio',
                            data: metrics.avg_pack_ratio
                        });
                    });
                });

                createChart('#chart_package', 'Number of packages', package_chart_data);
                createChart('#chart_maintainer', 'Number of maintainers', maintainer_chart_data);
                createChart('#chart_size', 'Package size and installed size', size_chart_data);
                createChart('#chart_avg_size', 'Average package size and average installed size', avg_size_chart_data);
                createChart('#chart_pack_ratio', 'Ratio: package size / install size', pack_ratio_chart_data);
            });
        });



    </script>

    <style media="screen" type="text/css">
    body { font-size: 80% };
    </style>
</head>
<body>
    <div id="chart_package" style="width:100%; height:400px;"></div>
    Click on the entries in the legend to show/hide lines. Drag the mouse horizontally over the chart to zoom.

    <div id="chart_maintainer" style="width:100%; height:400px;"></div>
    Click on the entries in the legend to show/hide lines. Drag the mouse horizontally over the chart to zoom.

    <div id="chart_size" style="width:100%; height:400px;"></div>
    Click on the entries in the legend to show/hide lines. Drag the mouse horizontally over the chart to zoom.

    <div id="chart_avg_size" style="width:100%; height:400px;"></div>
    Click on the entries in the legend to show/hide lines. Drag the mouse horizontally over the chart to zoom.

    <div id="chart_pack_ratio" style="width:100%; height:400px;"></div>
    Click on the entries in the legend to show/hide lines. Drag the mouse horizontally over the chart to zoom.

    <br>
    <table border=1>
        <thead>
            <tr>
                <th>Snapshot</th>
                <th>Distribution</th>
                <th>Repository</th>
                <th>Architecture</th>
                <th>Number of packages</th>
                <th>Number of maintainers</th>
                <th>Filesize</th>
                <th>Filepath</th>
            </tr>
        </thead>
        <tbody>
            {%for row in table %}
            <tr>
                <td>{{ row.snapshot_time }}</td>
                <td>{{ row.distribution }}</td>
                <td>{{ row.repository }}</td>
                <td>{{ row.architecture }}</td>
                <td>{{ row.number_of_packages or '' }}</td>
                <td>{{ row.number_of_maintainers or ''}}</td>
                <td>{{ row.filesize or ''}}</td>
                <td>{{ row.filepath or ''}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total_filesize }} bytes</td>
                <td>{{ number_of_files }} files</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
