<!DOCTYPE html>
<html>
<head>
    <title>Number of Debian packages over time</title>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $.getJSON('/json', function(data) {
                console.log(data);
                $('#container').highcharts({
                    chart: {
                        type: "line",
                        zoomType: "x"
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        type: "datetime"
                    },
                    series: data.chart_data
                });
            });
        });



    </script>
</head>
<body>
    <h3>Number of Debian packages over time</h3>
        <div id="container" style="width:100%; height:400px;"></div>
    <br>
</body>
</html>
